#youtube {
  width: 100%;
  height: 100%;
  background-color: black;
}

#navbar-youtube {
  background-color: black;
  padding: 0 6vw;
}

.nav-link.active {
  color: white;
}

.youtube-about {
  padding: 0 6vw;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.youtube-process {
  padding: 5vw 6vw 0 6vw;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    text-align: center;
  }
  .process-text {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .image {
    margin-top: 10rem;
  }
  .process-image{
    width: 70%;
  }
}

.youtube-creators {
  padding: 5vh 6vw 5vh 6vw;
  height: 100%;

  .card {
    background-color: rgba(0, 0, 0);
    border-radius: 0;
  }

  .card_link{
    text-decoration: none;
    color: white;
  }

  .card:hover {
    background-color: rgba(68, 68, 68, 0.37);
  }

  .creator-col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search{
    border-radius: 30rem;
    background-color: #303030;
    border-color: #303030;
    color: white;

  }

  .search::placeholder {
    color: grey;
    opacity: 3;
  }

  .pagination{

    a{
      background-color: transparent;
      border: none;
      color: #303030;
    }

    .page-item.active .page-link{
      background-color: transparent !important;
      border: none !important;
      color: white;
      text-decoration: underline;
    }

  }

  .category{
    border: none;
    border-radius: 20rem;
  }

  .youtube-profile{
    object-fit: cover;
  }

}


.inquiry-button{
  display: flex;
  justify-content: center;
  padding: 3rem;

  button{
    width: 250px;
    height: 80px;
    font-size: 1.5rem;
    border-radius: 20rem;
  }
}
.main-lead {
  font-size: 2.4rem;
}

.title {
  font-size: 5vw;
  font-weight: bold;
}


.clients-logo{
  img{
    width: 100%;
  }
  //.col{
  //  margin: 3rem 0 3rem 0;
  //}
}


.youtube-clients {
  padding: 5vh 6vw 5vh 6vw;
  width: 100%;
  height: 100vh;
  //position: relative;
  display: flex;
  align-items: center;

  .content{
    margin-top: 3rem;
    text-align: center;
  }

  .img{
    width: 256px;
  }
}

.youtube-contact {
  padding: 6vh 6vw 0 6vw;
  width: 100%;
  position: relative;

  .content{
    font-size: 20px;

    .copyright{
      color: #7C7C7C;
    }
    .company{
      font-weight: bold;
    }
  }


}


/*animation*/


// Config: Ease
$ease-cb: cubic-bezier(.19,1,.22,1);

//--------------------------
//  nth-trans-delay()
//  @description: Transition Delay on nth-childs
//  @param: $delay_items: [7]    - number of nth-of-type items to create
//  @param: $delay_time:[1.5s]   - transition-dealy value
//--------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      transition-delay: $delay_time * $i;
    }
  }
}

//--------------------------
//  nth-ani-delay()
//  @description: Animation Delay on nth-childs
//  @param: $delay_items: [7] - number of nth-of-type items to create
//  @param: $delay_time:[1.5s] - transition-dealy value
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.5s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}
//--------------------------
//  bg-overlay()
//  @description:pseduo overlay element
//  @param: $bg_hex: [$color-dark] - hex value for rgba conversion
//  @param: $bg_opacity:[0.6] - alpha transparency level
//  @param: $top_layer: element or class name for higher z-index layer
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }

  // Layer atop overlay
  & > #{$top_layer}{
    z-index: 2;
    position: relative;
  }
}

.js-spanize {
  visibility: hidden;
}


.mast{



  &__header{
    padding: 5%;
  }
  &__title{
    //font-family: $font-mono;
    //font-size: 1em;
    //font-weight: 400;
    //letter-spacing: 0.3em;
    //text-transform: uppercase;
  }
  // Letter animation
  &__title span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(25, 0.05s);
  }
  //Letter animation
  &__text{
    //font-family: $font-mono;
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
  }

  &__text span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }
}


// Letter Glow
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: 1;  }
  100% { opacity:0.7; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}



/*responsive */

@media only screen and (max-width: 765px) {
  .main-lead {
    font-size: 5.5vw;
  }
  .title{
    font-size: 10vw;
  }
  .youtube-process .process-text{
    font-size: 3vw;
  }

  .youtube-clients{
    height: 100%;
  }

  .company-detail{
    margin-top: 5vh;
    font-size: 3vw;
  }
  //.youtube-process, .youtube-clients, .youtube-creators, .youtube-contact{
  //  padding: 0;
  //}
}



//@media only screen and (max-width: 600px) {
//  .main-lead {
//    font-size: 3.5vw;
//  }
//}
